---
layout: tutorial
order: 03
title: tutorials.create_repo.title
paginator_title: tutorials.create_repo.overview.title
paginator_summary: tutorials.create_repo.overview.summary
---
<!-- Don't have an empty line until after the first <p>, as Jekyll is
	 looking for "\n\n" to decide what constitutes the "excerpt" for a post. -->
{% assign misc_strings = site.data.tutorials.misc %}
{% assign strings = site.data.tutorials.create_repo %}
<p>
	{{ strings.intro }}
</p>

<div class="options">
	<h3>{{ misc_strings.step_x_description | replace: '[number]', '1' | replace: '[description]', strings.download_and_install.title }}</h3>
	<ul class="steps large">
		<li class="step">
			<div class="img">
				<img class="irregular" src="../../../assets/tutorials/create-repo/screenshots/tut03.01-01@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '1' }}</h4>
			<p>{{ strings.download_and_install.steps.step_1 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.01-02@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '2' }}</h4>
			<p>{{ strings.download_and_install.steps.step_2 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.01-03@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '3' }}</h4>
			<p>{{ strings.download_and_install.steps.step_3 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.01-04@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '4' }}</h4>
			<p>{{ strings.download_and_install.steps.step_4 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.01-05@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '5' }}</h4>
			<p>{{ strings.download_and_install.steps.step_5 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.01-06@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '6' }}</h4>
			<p>{{ strings.download_and_install.steps.step_6 }}</p>
		</li>
	</ul>
</div>

<div class="options">
	<h3>{{ misc_strings.step_x_description | replace: '[number]', '2' | replace: '[description]', strings.customize_repo.title }}</h3>
	<p class="description">{{ strings.customize_repo.description }}</p>
	<ul class="steps large">
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.02-01@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '1' }}</h4>
			<p>{{ strings.customize_repo.steps.step_1 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.02-02@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '2' }}</h4>
			<p>{{ strings.customize_repo.steps.step_2 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.02-03@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '3' }}</h4>
			<p>{{ strings.customize_repo.steps.step_3 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.02-04@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '4' }}</h4>
			<p>{{ strings.customize_repo.steps.step_4 }}</p>
		</li>
	</ul>
</div>

<div class="options">
	<h3>{{ misc_strings.step_x_description | replace: '[number]', '3' | replace: '[description]', strings.share_repo.title }}</h3>
	<ul class="steps large">
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.03-01@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '1' }}</h4>
			<p>{{ strings.share_repo.steps.step_1 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.03-02@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '2' }}</h4>
			<p>{{ strings.share_repo.steps.step_2 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.03-03@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '3' }}</h4>
			<p>{{ strings.share_repo.steps.step_3 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.03-04@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '4' }}</h4>
			<p>{{ strings.share_repo.steps.step_4 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.03-05@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '5' }}</h4>
			<p>{{ strings.share_repo.steps.step_5 }}</p>
		</li>
	</ul>
</div>

<div class="options">
	<h3>{{ misc_strings.step_x_description | replace: '[number]', '4' | replace: '[description]', strings.update_repo.title }}</h3>
	<ul class="steps large">
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.03-01@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '1' }}</h4>
			<p>{{ strings.update_repo.steps.step_1 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.03-02@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '2' }}</h4>
			<p>{{ strings.update_repo.steps.step_2 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.03-03@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '3' }}</h4>
			<p>{{ strings.update_repo.steps.step_3 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.03-04@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '4' }}</h4>
			<p>{{ strings.update_repo.steps.step_4 }}</p>
		</li>
		<li class="step">
			<div class="img">
				<img src="../../../assets/tutorials/create-repo/screenshots/tut03.03-05@2x.png" />
			</div>
			<h4>{{ misc_strings.step_x | replace: '[number]', '5' }}</h4>
			<p>{{ strings.update_repo.steps.step_5 }}</p>
		</li>
	</ul>
</div>

<div class="related-tutorials">
	{{ strings.related_tutorial }}
</div>
